/* global */
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;
}

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #101214;
  color: #7a7c80;
}

.jumbotron {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #101214 !important;
}

h2,
.white {
  color: #92f6de;
}

a {
  color: #836856;
  text-decoration: none;
}
